include base.jade
body
  h1 Mise à jour de #{movie.name}
  form(#form action="/maj?id=#{movie._id}" method="post")
    input(type="text" value="#{movie.name}" name="name" id="name")
    button(type="submit") Valider
